.listmenu{
  margin-bottom: 20px;
    &__title{
     
  }
  ul{
    padding:0px;
    margin:0px;
      li{
        list-style: none;
        border-bottom: 1px dashed #c9c9c9;
          &:nth-child(1){
            border-top: 1px solid #c9c9c9;
          }
          &:hover{
            a{
            color: #bf1515;                    
            }
          }
          a{
            color:#444444;
            display: block;
            padding: 10px 15px;
          }
          // &:nth-child(2){
          //   a{
          //   color: #bf1515;                                        
          //   }
          // }
      }
  }
}