
mixin listmenu(title,mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +listmenu()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .listmenu.listmenu-wrap
    .listmenu__title
      h4=title
    ul
      if mods=='true'
        each item in menu1
          li
            a(href=item.links)=item.text
        

  //.listmenu-wrap
