.list-product {
  margin-bottom: 30px;
  .product-info__img{
        position: relative;
        height: 197px;
        overflow: hidden;
        z-index: 1;
          img{
            width: 100%;
            height: 100%;
          }
          &:hover .layer-prd{
            transform: scale(1);
            transition: 0.3s ease-in-out;
          }
      }
      .layer-prd{
        transform: scale(0);
        background: #00000080;
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        line-height: 197px;
        left: 0;
        text-align: center;
        transition: 0.3s ease-in-out;
          i{
            vertical-align: middle;
            color: #fff;
            background: #ffffff66;
            width: 48px;
            border-radius: 50%;
            height: 48px;
            line-height: 48px;
            text-align: center;
            font-size: 17px;
          }
         
      }
      .list-prd__infor{
        h3{
          font-size: 18px;
          line-height: 20px;
          color:#444;
          margin: 0px;
            &:hover{
              cursor: pointer;
              color: #d71e1e;
            }
        }
        h4{
          color:#d71e1e;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
        p{
          text-align: left;
          font-size: 12px;
          color: #666666;
          margin-bottom: 25px;
        }
   
        li{
          padding: 0;
          a.img{
            background-image: url(images/ta_add-to-cmp.png);
          }
          span.img{
            background-image: url(images/ta_quick-view.png);
          }
          a.img, span.img{
            &:hover{
              background-color: #d71e1e;
            }
            cursor: pointer;
            display: block;
            width: 46px;
            height: 39px;
            line-height: 39px;
            margin-left: 1px;
            font-size: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.5);
          }
          a.button{
            display: inline-block;
            cursor: pointer;
            padding: 0 20px 0 40px;
            font-size: 14px;
            background-color: rgba(0, 0, 0, 0.8);
            background-image: url(images/basket-icon.png);
            background-position: 10px center;
            background-repeat: no-repeat;
            height: 39px;
            color: #fff;
            border: 0px;
            span{
              line-height: 40px;
            }
            &:hover{
              background-color:#d71e1e;
            }
          }
        }
      }
    
