
mixin list-product(link,img,title, price,text)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +list-product()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .list-product.list-product-wrap
    .list-wrap
      .row
        .col-sm-5
          a.fleft(href=link)
            .product-info__img
              img(src=img, alt="")
              .layer-prd
                i.fa.fa-search(aria-hidden="true")
        .col-sm-7
          .list-prd__infor.fleft
            a(href=link)
              h3=title
            h4=price
            p=text
            ul.list-inline
              li
                a.button(data-toggle="modal" data-target="#add-cart-popup")
                  span Thêm vào giỏ
              li
                a(href="#").img
              li
                span(data-toggle="modal" data-target="#view-product-popup").img
  //.list-product-wrap
