.topbar {
  font-size: 13px;
  font-weight: 400;
  .breadcrumbs {
    background-color: #F2F2F2;
    padding: 11px 0;
     ul{
       li{
           a{
            color: #bf1515;
            text-decoration: none;
           }
        }

       li+li{
        padding-left: 15px;
        position: relative;
       a{
         cursor: text;
         display: block;
         text-decoration: none;
       }
       &:before{
         content:'/';
         position: absolute;
         left: 2px;
        }
      }
      li:last-child{
        a{
        color:#777;          
        }
      }
    }
  }
}

