
mixin topbar(text)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +topbar()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .topbar.topbar-wrap
    .breadcrumbs
      .container
        .row
          .col-md-12.col-sm-12
            ul.list-inline
              li 
                a(href="#") Trang chủ
              li.li-display
                a(href="#") Danh mục
              li
                a(href="#")=text
  //.topbar-wrap
