.view-product-popup {
  &.modal-dialog{
    width: 940px;
    margin-top: 86px;
  }
  button.close{
    z-index: 9;
    width: 32px;
    height: 32px;
    background: none;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
    text-align: center;
    background: #fff;
    position: absolute;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: -15px;
    right: -14px;
    opacity: .9;
    &::before{
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 32px;
      line-height: 32px;
    }
  }
  .image-zoom{
    img{
      max-height: 300px;
      margin-bottom: 5px;;
    }
  }
  .nav-thuml{
    .owl-carousel .owl-item img{
      border: 2px solid transparent;
      &:hover{
        border: 2px solid #bf1515;
      }
    }
    .owl-carousel .owl-item img.active{
      border: 2px solid #bf1515;
    } 
    .owl-stage-outer{
      margin: 0px 39px;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev{
      width: 27px;
      height: 26px;
      position: absolute;
      top: calc(50% - 16px);
      background-color: #fff;
      &:hover{
        i{
          color: #333;
        }
      }
    }
    .owl-carousel .owl-nav button.owl-next{
      right: 32px;
    }
    .owl-carousel .owl-nav button.owl-prev{
      left: 32px;
    }
    .owl-theme .owl-nav .disabled{
      display: none;
    }
  }
  .modal-title{
    h4{
      font-weight: 400;
      font-size: 20px;
      margin: 0;
    }
  }
  .modal-price{
    color: #bf1515;
    padding-bottom: 12px;
  }
  .number-input{
    label{
      display: block;
      color: #828282;
      font-weight: 300;
      font-size: 13px;
      font-family: sans-serif;
    }
    input{
      max-width: 60px;
      text-align: center;
      font-family: sans-serif;
      padding: 6px;
      border-radius: 3px;
      border: 1px solid #E5E5E5;
    }
  }
  .add-input{
    font-family: sans-serif;
    a{
      color: #828282;
      font-weight: 300;
      font-size: 13px;
    }
    button{
      background: #bf1515;
      margin: 10px 0px;
      color: #fff;
      border: none;
      padding: 0 30px 0 50px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 3px;
      height: 50px;
      line-height: 47px;
      position: relative;
      cursor: pointer;
      font-weight: bold;
      margin-right: 10px;
      &::before{
        content: "";
        width: 30px;
        height: 100%;
        float: left;
        margin-left: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background: url(images/ta_cart.png) no-repeat center center;
      }
    }
  }
}
