
mixin view-product-popup(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +view-product-popup()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .view-product-popup.view-product-popup-wrap.modal-dialog
    .modal-content
      .modal-body
        button.close(type="button" data-dismiss="modal" aria-label="Close")
        .container-fluid
          .row
            .col-lg-5.col-md-6
              .image-zoom
                .owl-carousel.owl-theme
                  .item(data-hash="zero")
                    img(src="images/ta_images-zoom1.jpg" alt="")
                  .item(data-hash="one")
                    img(src="images/ta_images-zoom2.jpg" alt="")
                  .item(data-hash="two")
                    img(src="images/ta_images-zoom3.jpg" alt="")
                  .item(data-hash="three")
                    img(src="images/ta_images-zoom4.jpg" alt="")
                  .item(data-hash="four")
                    img(src="images/ta_images-zoom5.jpg" alt="")
              .nav-thuml
                .owl-carousel.owl-theme
                  .item
                    a(href="#zero")
                      img(src="images/ta_thuml1.jpg", alt="")
                  .item
                    a(href="#one")
                      img(src="images/ta_thuml2.jpg", alt="")
                  .item
                    a(href="#two")
                      img(src="images/ta_thuml3.jpg", alt="")
                  .item
                    a(href="#three")
                      img(src="images/ta_thuml4.jpg", alt="")
                  .item
                    a(href="#four")
                      img(src="images/ta_thuml5.jpg", alt="")
            .col-lg-7.col-md-6
              .modal-title
                h4 Họp mặt 2 (dành cho 5 - 6 người)
              .modal-price
                h3 
                  span 1,160,000
                  sup 
                    u đ
              form#cart-number(action="")
                .number-input
                  label Số lượng
                  input(type="number" min="1" value="1")
                .add-input
                  button(type="submit") 
                    |Thêm vào giỏ
                  span hoặc 
                  a(href="#") Xem chi tiết
  //.view-product-popup-wrap
