
mixin item-sidebar2(linkimg,linknews,itemtitle,price)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +item-sidebar2()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .item-sidebar2.item-sidebar2-wrap
    .seller-item
      .seller-img
        a(href="#")
          img(src=linkimg, alt="")
      .product-content
        h5
          a(href=linknews)=itemtitle
        h3.price
          span=price
          span
            sup
              u đ
      .clear-fix
  //.item-sidebar2-wrap
