.item-sidebar {
  .seller-item{
    display: inline-block;
    width: 100%;
    clear: both;
    border-bottom: 1px dashed #c9c9c9;
    padding: 30px 0 20px;
      .seller-img{
        float: left;
        margin: 0 15px 0 0;
        width: 100px;
          img{
            width: 100%;
          }
      }
      .product-content{
        background-color: #fff;
        overflow: hidden;
        text-align: left;
          h5{
            font-size: 14px;
            padding-left: 5px;
            line-height: 21px;
            margin:0px;
          }
      }
  }
}
