
mixin item-sidebar(linkimg,linknews,itemtitle,date)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +item-sidebar()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .item-sidebar.item-sidebar-wrap
    .seller-item
      .seller-img
        a(href="#")
          img(src=linkimg, alt="")
      .product-content
        h5
          a(href=linknews)=itemtitle
        span=date
      .clear-fix
  //.item-sidebar-wrap
