
mixin df(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +df()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .df.df-wrap

  //.df-wrap
