.product.component {
  .product-info{
    position: relative;
    margin: 5px 0;
    overflow: hidden;
    &:hover{
      .product-info__act{
        bottom: 0;
      }
    }
    &__img{
      height: 283px;
      overflow: hidden;
    }
    &__act{
      position: absolute;
      transition: all 300ms;
      bottom: -40px;
      left: 0;
      @media screen and (max-width: 768px) {
        bottom: 0;
        display: none;
      }
      li{
        padding: 0;
        a.img{
          background-image: url(images/ta_add-to-cmp.png);
        }
        span.img{
          background-image: url(images/ta_quick-view.png);
        }
        a.img, span.img{
          &:hover{
            background-color: #d71e1e;
          }
          cursor: pointer;
          display: block;
          width: 46px;
          height: 39px;
          line-height: 39px;
          margin-left: 1px;
          font-size: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-color: rgba(0, 0, 0, 0.5);
        }
        a.button{
          display: inline-block;
          cursor: pointer;
          padding: 0 20px 0 40px;
          font-size: 14px;
          background-color: rgba(0, 0, 0, 0.8);
          background-image: url(images/basket-icon.png);
          background-position: 10px center;
          background-repeat: no-repeat;
          height: 39px;
          color: #fff;
          border: 0px;
          span{
            line-height: 40px;
          }
          &:hover{
            background-color:#d71e1e;
          }
        }
      }
    }
  }
  .product-box{
    padding: 7px 0;
    &__name{
      width: 60%;
      height: 45px;
      overflow: hidden;
      a{
        line-height: 22px;
        padding: 2px 0;
        color: #444444;
        font-size: 16px;
        font-family: sans-serif;
        &:hover{
          color: #d71e1e;
        }
      }
    }
    &__price{
      h4{
        margin: 0;
        font-size: 18px;
        color: #d71e1e;
        line-height: 22px;
        padding: 2px 0;
      }
      text-align: right;
      width: 40%;
    }
  }
}