
mixin product(img,title, price)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +product()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .product.product-wrap.component
    .product-info
      a(href="#")
        .product-info__img
          img(src=img, alt="")
        .product-info__act
          ul.list-inline
            li.add-cart
              a.button(data-toggle="modal" data-target="#add-cart-popup")
                span Thêm vào giỏ
            li.info
              a(href="#").img
            li.view
              span(data-toggle="modal" data-target="#view-product-popup").img
    .product-box
      .product-box__name.fleft
        a(href="#")=title
      .product-box__price.fright
        h4=price
          sup 
            u đ
      .clear-fix

  //.product-wrap
