// .alert {
//   color: black;
//   @include e(inverted) {
//     color: white;
//     background-color: black;
//     @include m(hjhjhaha) {
//       color: #fff;
//     }
//   }
//   @include e(warning) {
//     color: yellow;
//   }
//   @include e(warning, inverted) {
//     color: black;
//     background-color: yellow;
//   }
// }
body {
  font-family: 'UVFLobster12', sans-serif;
  font-size: 13px;
  overflow-x: hidden; // font-family: 'UVFLobster12', sans-serif;
}

#wrapper.show {
  left: 283px;
  @media screen and (max-width: 768px) {
    left: 255px;
  }
}

p {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

button,
input {
  outline: none;
}

//header
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .container-fluid {
    margin: 0 5px;
    padding: 0px 15px;
    position: relative;
  }
  .header-top {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.5);
  }
}

.hotline {
  padding: 0px 30px;
  &_number {
    p {
      margin-top: 8px;
      color: #fff;
      font-style: italic;
    }
  }
}

.header-top {
  display: block;
  @media screen and (max-width: 992px) {
    display: none;
  }
  a {
    text-decoration: none;
    i {
      margin: 5px 0px;
      padding: 0 5px;
    }
  }
  .right {
    padding-top: 5px;
    li {
      padding: 0px 10px;
      font-size: 11px;
      font-style: italic;
      transition: all 300ms;
      >a:hover {
        color: #d71e1e;
      }
      &.book-meal {
        font-size: 15px;
        background-color: #fc5103;
        padding: 9px 20px;
        border-radius: 20px;
        color: #fff;
        display: inline-block;
        margin-right: 30px;
        &:hover {
          color: #d71e1e;
        }
        p {
          margin: 0;
          font-weight: 700;
          font-style: normal;
        }
      }
      &.user {
        position: relative;
      }
      &.user:hover {
        .user-menu2 {
          display: block;
        }
      }
      .user-menu2 {
        position: absolute;
        display: none;
        width: auto;
        padding: 5px 10px 5px 0px;
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
        color: #666;
        li {
          padding-right: 0;
        }
        a {
          font-family: sans-serif;
          display: inline-block;
          padding: 10px 0px;
          &:hover::before {
            border-color: #d71e1e;
            background-color: #d71e1e;
          }
          &::before {
            content: "";
            width: 4px;
            height: 4px;
            line-height: 11px;
            display: inline-block;
            border: 1px solid #666;
            border-radius: 50%;
            margin: 0 3px 1px;
          }
        }
      }
      &.connect-fb {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.header-bottom {
  background-image: url('images/ta_bg_header_top.png');
  position: relative;
  height: 86px;
  margin-top: 3px;
  color: #fff;
  @media screen and (max-width: 991px) {
    display: none;
  }
  .logo {
    margin-top: 8px;
    @media screen and (max-width: 1205px) {
      margin-top: 8px;
      position: absolute;
      top: -86px;
      left: 75px;
    }
  }
  nav.menu-bottom {
    margin-top: 13px;
    li {
      position: relative;
      @media screen and (max-width: 1051px) {
        padding-left: 0;
      }
      &:hover {
        .dropdown-menu2 {
          display: block;
        }
      }
    }
    a {
      &:hover {
        color: #d71e1e;
      }
      transition: all 300ms;
      display: inline-block;
      padding: 0px 20px;
      line-height: 56px;
      font-size: 18px;
      @media screen and (max-width:1325px) {
        padding: 0px 10px;
      }
      @media screen and (max-width:1051px) {
        padding: 0px 5px;
      }
      i {
        font-size: 11px;
        margin-left: 5px;
        line-height: 22px;
        vertical-align: text-top;
      }
    }
    .search-form {
      position: relative;
      input {
        padding: 0 0 0 13px;
        line-height: 39px;
        border-radius: 20px;
        height: 39px;
        width: 198px;
        color: #acacac !important;
        font-size: 11px;
        font-style: italic;
        outline: none;
        border: none;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        height: 39px;
        width: 39px;
        background: url(images/search-icon.png) no-repeat center transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
    .cart {
      &:hover {
        .cart-hover {
          display: block;
        }
      }
      >a {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: #d71e1e;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        padding: 0;
        margin-left: 7px;
      }
      position: relative;
      padding-bottom: 30px;
      margin-bottom: -30px;
    }
    .cart-hover {
      display: none;
      top: 38px;
      .content {
        display: none;
        &.active {
          display: block;
        }
      }
      .content-cart {
        display: none;
        &.active {
          display: block;
        }
      }
      width: 360px;
      position: absolute;
      right: 0px;
      z-index: 99;
      background-color: #fff;
      padding: 20px;
      box-shadow: 1px 0 6px rgba(0,
      0,
      0,
      0.75);
      margin-top: 9px;
      p {
        color: #333;
        margin: 0;
        line-height: 21px;
        font-size: 13px;
      }
      a {
        font-family: sans-serif;
        color: #d71e1e;
        line-height: 21px;
        font-size: 13px;
      }
    }
    .dropdown-menu2 {
      top: 97%;
      position: absolute;
      left: 0;
      z-index: 1000;
      display: none;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      text-align: left;
      list-style: none;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      color: #333;
      font-family: sans-serif;
      li{
        display: block;
      }
      a {
        &:hover {
          color: #262626;
          background-color: #f5f5f5;
        }
        transition: all 300ms;
        display: block;
        padding: 3px 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
      }
    }
    .cart-item {
      padding: 15px 0 15px;
      border-bottom: 1px dotted #e1e1e1;
      display: none;
      &.active {
        display: block;
      }
      &_img {
        padding-right: 20px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        a {
          padding: 0;
        }
      }
      &_text {
        a {
          color: #333;
          font-family: 'UVFLobster12', sans-serif;
          padding: 0;
          font-size: 15px;
        }
      }
      .cart-remove {
        position: absolute;
        color: #666;
        font-size: 22px;
        right: 20px;
        cursor: pointer;
      }
    }
    .cart-price {
      padding: 13px 0px;
      margin-bottom: 17px;
      border-bottom: 1px dotted #e1e1e1;
      text-align: center;
      p {
        span:nth-child(1) {
          font-size: 9px;
          font-weight: 600;
        }
        span:nth-child(2) {
          font-size: 18px;
          font-family: 'UVFLobster12', sans-serif;
          font-weight: 600;
          color: #d71e1e;
          padding-left: 10px;
        }
      }
    }
    .cart-act {
      a {
        font-family: 'UVFLobster12', sans-serif;
        display: inline-block;
        height: 35px;
        text-align: center;
        line-height: 35px;
        margin: 0 15px;
        min-width: 80px;
        background-color: #000;
        padding: 0 30px;
        font-size: 16px;
        color: #fff;
        white-space: nowrap;
        display: inline-block;
        transition: all 0.3s;
        &:hover {
          background-color: #d71e1e;
        }
      }
    }
  }
}

.header-mobie {
  background-color: #fff;
  display: none;
  position: relative;
  .col-xs-12 {
    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }
  @media screen and (max-width:991px) {
    display: block;
  }
  .logo-mobie {
    display: none;
    max-height: 50px;
    max-width: 120px;
    margin: 0 auto;
    img {
      max-height: 50px;
    }
    @media screen and (max-width:992px) {
      display: block;
    }
  }
  .logo_img {
    display: block;
    @media screen and (max-width: 992px) {
      display: none;
    }
    a {
      display: inline-block;
    }
  }
  .menu-mobie {
    a {
      display: inline-block;
      text-align: center;
      background-color: #44494e;
      i {
        font-size: 28px;
        width: 50px;
        line-height: 50px;
        color: #fff;
      }
    }
  }
  .right-mobie {
    word-spacing: -4px;
    @media screen and (max-width: 992px) {
      position: absolute;
      right: 0;
      top: 0;
    }
    li {
      position: relative;
      word-spacing: 0px;
      padding: 0;
      padding-left: 3px;
      >a {
        background-color: #CD1923;
        text-align: center;
        display: inline-block;
        >i {
          font-size: 20px;
          width: 50px;
          line-height: 50px;
          color: #fff;
          @media screen and (max-width: 768px) {
            width: 32px;
          }
        }
      }
    }
    li.user {
      &:hover {
        .user-drop {
          display: block;
        }
      }
    }
    li.search {
      &:hover {
        .search-drop {
          display: block;
        }
      }
    }
    li.cart {
      &:hover {
        .cart-hover {
          display: block;
        }
      }
    }
    ul.user-drop {
      display: none;
      width: 200px;
      position: absolute;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      right: 0px;
      padding: 10px 15px;
      z-index: 99;
      font-size: 11px;
      li {
        display: block;
        a {
          font-family: sans-serif;
          background-color: #fff;
          &::before {
            content: "\f105";
            font-family: fontawesome;
            margin-right: 5px;
          }
        }
      }
    }
    .search-drop {
      display: none;
      position: absolute;
      width: 200px;
      right: 0;
      input {
        padding: 0 0 0 13px;
        line-height: 39px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        height: 39px;
        width: 198px;
        color: #acacac !important;
        font-size: 11px;
        font-style: italic;
        outline: none;
        border: none;
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
        height: 39px;
        width: 39px;
        background: url(images/search-icon.png) no-repeat center transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .cart-hover {
    top: 43px;
    display: none;
    .content {
      display: none;
      &.active {
        display: block;
      }
    }
    width: 300px;
    position: absolute;
    right: 0px;
    z-index: 99;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 0 6px rgba(0,
    0,
    0,
    0.75);
    margin-top: 9px;
    p {
      color: #333;
      margin: 0;
      line-height: 21px;
      font-size: 13px;
    }
    a {
      font-family: sans-serif;
      color: #d71e1e;
      line-height: 21px;
      font-size: 13px;
    }
  }
  .cart-item {
    padding: 15px 0 15px;
    border-bottom: 1px dotted #e1e1e1;
    display: none;
    &.active {
      display: block;
    }
    &_img {
      padding-right: 20px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      a {
        padding: 0;
      }
    }
    &_text {
      a {
        color: #333;
        font-family: 'UVFLobster12', sans-serif;
        padding: 0;
        font-size: 15px;
      }
    }
    .cart-remove {
      position: absolute;
      color: #666;
      font-size: 22px;
      right: 20px;
      cursor: pointer;
    }
  }
  .cart-price {
    padding: 13px 0px;
    margin-bottom: 17px;
    border-bottom: 1px dotted #e1e1e1;
    text-align: center;
    p {
      span:nth-child(1) {
        font-size: 9px;
        font-weight: 600;
      }
      span:nth-child(2) {
        font-size: 18px;
        font-family: 'UVFLobster12', sans-serif;
        font-weight: 600;
        color: #d71e1e;
        padding-left: 10px;
      }
    }
  }
  .cart-act {
    a {
      font-family: 'UVFLobster12', sans-serif;
      display: inline-block;
      height: 35px;
      text-align: center;
      line-height: 35px;
      margin: 0 12px;
      background-color: #000;
      padding: 0 20px;
      font-size: 16px;
      color: #fff;
      white-space: nowrap;
      display: inline-block;
      transition: all 0.3s;
      &:hover {
        background-color: #d71e1e;
      }
    }
  }
}

.header-fixed.show {
  left: 0;
}

.header-fixed {
  position: fixed;
  transition: all 300ms;
  width: 283px;
  background-color: #000;
  color: #6f6f6f;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: -283px;
  padding-top: 150px;
  @media screen and (max-width: 992px) {
    width: 255px;
    overflow: auto;
  }
  .bar-menu {
    display: block;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  &__logo {
    margin-bottom: 40px;
    a {
      display: block;
      text-align: center;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  .bar-menu {
    &::before {
      right: -34px;
      top: 150px;
      position: absolute;
      cursor: pointer;
      content: "";
      width: 34px;
      height: 38px;
      background: url(images/menu-pc.png) no-repeat 10px center #d71e1e;
    }
    &::after {
      content: "";
      position: absolute;
      right: -47px;
      top: 150px;
      width: 0;
      height: 0;
      border-top: 19px solid #d71e1e;
      border-bottom: 19px solid #d71e1e;
      border-right: 12px solid transparent;
      border-left: 12px solid #d71e1e;
      z-index: 1;
      cursor: pointer;
    }
  }
  .menu-left {
    &__2 {
      position: absolute;
      display: none;
      left: 299px;
      width: 156px;
      color: #fff;
      top: -110px;
      height: 264px;
      background-color: #131212;
      a {
        font-family: sans-serif;
        white-space: pre;
        line-height: 41px;
        display: block;
        background-color: #131212;
        &:hover {
          color: #d71e1e;
          background-color: #000;
        }
      }
    }
    &__1 {
      li.list-drop:hover {
        &::before {
          display: block;
          @media screen and (max-width: 992px) {
            display: none;
          }
        }
        .menu-left__2 {
          display: block;
          @media screen and (max-width: 992px) {
            display: none;
          }
        }
      }
      li.list-drop::before {
        display: none;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 21px 0px 21px 16px;
        border-color: transparent transparent transparent #000;
        right: -16px;
        top: 0;
      }
      >li {
        border-top: 1px dashed rgba(255, 255, 255, 0.2);
        position: relative;
        &:last-child {
          border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
        }
        >a {
          display: block;
          padding: 8px 15px;
          margin-top: 1px;
          line-height: 26px;
          font-size: 16px;
          &:hover {
            color: #d71e1e;
          }
        }
      }
    }
  }
  @media screen and (max-width:992px) {
    text-align: left;
    padding-top: 0;
    background-color: #44494e;
    color: #fff;
    padding: 10px;
    a {
      font-family: sans-serif;
      text-transform: uppercase;
    }
    &__logo {
      display: none;
    }
    .menu-left {
      &__1 {
        >li {
          position: relative;
          border-top: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          background-color: #44494e;
          a {
            padding-left: 10px;
          }
        }
      }
      &__2 {
        height: auto;
        background-color: inherit;
        position: static;
        background-color: #44494e;
        a {
          background-color: inherit;
          text-transform: initial;
          &::before {
            content: "\f105";
            font-family: fontawesome;
            margin-right: 5px;
          }
        }
      }
      li.active {
        background-color: #33363a;
        .menu-left__2 {
          background-color: #33363a;
          a {
            background-color: inherit;
          }
        }
      }
    }
  }
  span.drop-button {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  span.drop-button {
    &.active {
      transform: rotate(180deg);
    }
    transition: all 300ms;
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border: 1px solid #6a6d71;
    &::before {
      font-family: fontawesome;
      content: "\f107";
      font-size: 15px;
    }
  }
}

//header
//footer
.footer-top {
  background-image: url(images/footer-bg.jpg);
  position: relative;
  color: #fff;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  clear: both;
  padding-bottom: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    background: url(images/ta_bg-radius.png) repeat-x center top transparent;
    position: absolute;
    width: 100%;
    height: 10px;
    content: "";
    top: 0;
    margin: 0 auto;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col-3 article {
    padding: 0px 15px;
  }
  .time {
    border-bottom: 1px dashed #8a8a8a;
    padding: 20px 0 10px;
    p {
      margin: 0;
    }
  }
  .title {
    font-size: 34px;
  }
  .list-check {
    list-style: none;
    padding-left: 0;
    p {
      line-height: 56px;
      margin: 0;
      i {
        width: 25px;
        height: 25px;
        line-height: 25px;
        background: #7D726C;
        text-align: center;
        border-radius: 4px;
        margin-right: 15px;
        margin-top: 5px;
      }
      span {
        font-size: 12px;
      }
    }
    a {
      font-family: sans-serif;
      line-height: 34px;
      &::before {
        background-image: url(images/ta_icon_page.jpg);
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 4px;
        height: 4px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
  .list-socials {
    li {
      margin-right: 5px;
      &.facebook {
        i {
          background-color: #395AA1;
        }
      }
      &.twitter {
        i {
          background-color: #46B0E4;
        }
      }
      &.google {
        i {
          background-color: #1672BD;
        }
      }
      &.rss {
        i {
          background-color: #F7BD2E;
        }
      }
      &.youtube {
        i {
          background-color: #7EDFE8;
        }
      }
      i {
        width: 37px;
        height: 37px;
        line-height: 37px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-size: 19px;
        opacity: 1;
        transition: all 300ms;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.footer-bottom {
  background-color: #000000;
  border-top: 1px solid #000000;
  padding-top: 20px;
  padding-bottom: 10px;
  &__left {
    p {
      margin: 0;
      color: #fff;
    }
    font-size: 13px;
    a {
      color: #d71e1e;
    }
  }
  &__right {
    li {
      margin-left: 10px;
    }
  }
}

#call-fixed {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding-left: 15px;
  background-color: #115408;
  border-radius: 0 50% 50% 0;
  @media screen and (max-width: 768px) {
    display: block;
  }
  a {
    width: 50px;
    height: 50px;
    display: block;
  }
}

//footer
#wrapper {
  position: relative;
  padding-top: 86px;
  transition: all 300ms;
  left: 0;
  @media screen and (max-width: 992px) {
    padding-top: 50px;
  }
}

.banner-slide {
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    margin: 0;
    outline: none;
    &:hover {
      i {
        opacity: 0.9;
      }
    }
    i {
      font-size: 50px;
      color: #fff;
      opacity: 0.5;
    }
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 0;
    &:hover {
      background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
      background-color: transparent;
    }
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0;
    &:hover {
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    }
  }
  .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    .owl-dot.active {
      outline: none;
      span {
        background-color: #fff;
      }
    }
    span {
      background: transparent;
      border: 1px solid #fff;
    }
  }
}

.menu {
  margin-top: 45px;
  &__title {
    h1 {
      color: #444444;
      font-size: 34px;
    }
  }
  &__info {
    margin-bottom: 25px;
    p {
      font-size: 13px;
    }
  }
  &__tab-product {
    margin-bottom: 20px;
    ul.nav.nav-pills {
      margin-bottom: 40px;
    }
    .owl-carousel .owl-nav {
      display: block;
    }
    .owl-carousel {
      &:hover {
        .owl-nav button.owl-next,
        .owl-nav button.owl-prev {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: #636363;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 999;
      transform: scale(0.5);
      opacity: 0;
      transition: all 300ms;
      i {
        color: #fff;
        font-size: 18px;
      }
    }
    .owl-carousel .owl-nav button.owl-prev {
      top: 40%;
      left: -20px;
      i {
        transform: translate(-2px, 1px);
      }
    }
    .owl-carousel .owl-nav button.owl-next {
      top: 40%;
      right: -20px;
      i {
        transform: translate(2px, 1px);
      }
    }
    .nav-pills>li {
      float: none;
      margin-top: 10px;
      a {
        margin-bottom: 1px;
        border-radius: 20px;
        height: 29px;
        line-height: 29px;
        padding: 0 20px;
        background-color: #636363;
        color: #fff;
        &:hover {
          background-color: #d71e1e;
        }
      }
      &.active {
        a {
          background-color: #d71e1e;
        }
      }
    }
  }
}

.banner-home {
  margin-bottom: 50px;
  .col-xs-3 {
    padding: 4px;
  }
  .col-xs-6 {
    padding: 4px;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
  ul.list-item {
    padding: 0;
    list-style: none;
    @media screen and (max-width: 650px) {
      width: 100%; 
      word-spacing: -4px;
      margin-bottom: 0;
    }
    li {
      margin-bottom: 10px;
      @media screen and (max-width:650px){
        width: 50%;
        display: inline-block;
        margin-bottom: 0;
        padding: 5px;
      }
    }
  }
  img {
    transition: all 300ms;
    width: 100%;
    height: 100%;
    &:hover {
      opacity: 0.8;
    }
  }
  .item-center {
    img {
      width: 100%;
    }
  }
}

.product-sale {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  &__title {
    h1 {
      padding: 52px 0px 10px;
      font-size: 34px;
      color: #444444;
      font-weight: normal;
      margin-top: 10px;
    }
  }
  &__slide {
    margin-top: 35px;
    .owl-carousel {
      &:hover {
        .owl-nav button.owl-next,
        .owl-nav button.owl-prev {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      width: 32px;
      height: 32px;
      background-color: #636363;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 999;
      transform: scale(0.5);
      opacity: 0;
      transition: all 300ms;
      i {
        color: #fff;
        font-size: 18px;
      }
    }
    .owl-carousel .owl-nav button.owl-prev {
      top: 40%;
      left: -20px;
      i {
        transform: translate(-2px, 1px);
      }
    }
    .owl-carousel .owl-nav button.owl-next {
      top: 40%;
      right: -20px;
      i {
        transform: translate(2px, 1px);
      }
    }
  }
}

.customer-cmt {
  padding-top: 10px;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    h3 {
      font-size: 34px;
      color: #fff;
      font-weight: normal;
      padding: 5px 0 25px;
    }
  }
  &__avatar {
    width: 138px;
    height: 138px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    perspective: 1px;
    border: 8px solid #fff;
    background-color: #fff;
  }
  &__text {
    padding: 10px 60px;
    margin: 15px auto 10px;
    position: relative;
    width: 75%;
    font-size: 116.667%;
    background: url(images/ta_nhaynhay.png) no-repeat left top transparent;
    color: #fff;
    font-style: italic;
    @media screen and (max-width: 559px) {
      width: 90%;
      padding: 10px 0;
    }
  }
  .owl-theme .owl-dots {
    .owl-dot.active {
      outline: none;
      span {
        background-color: #fff;
      }
    }
    span {
      background: transparent;
      border: 1px solid #fff;
    }
  }
}

.partner {
  padding-top: 50px;
  padding-bottom: 30px;
  &__title {
    h3 {
      font-size: 34px;
      color: #444444;
      padding: 10px 0;
    }
  }
}

.about-page {
  margin-top: 86px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  .content-wrapper {
    text-align: center;
    img {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }
}

.cart-page {
  padding-top: 86px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  table {
    width: 100%;
    tbody {
      font-family: sans-serif;
      tr.active {
        display: table-row;
      }
      tr {
        display: none;
      }
      tr.show-table {
        display: table-row;
      }
    }
    thead {
      th {
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 20px;
      }
    }
    td {
      border-top: 1px solid #dddddd;
      padding: 5px;
      &.image {
        text-align: center;
        img {
          max-height: 100px;
          max-width: 50px;
        }
      }
      &.qty {
        text-align: center;
        input {
          width: 64px;
          text-align: center;
          height: 30px;
          border-radius: 3px;
          font-size: 14px;
          color: #808080;
          border: 1px solid #ccc;
          outline: none;
          padding-left: 15px;
        }
      }
      &.item {
        color: #d71e1e;
      }
      &.price {
        text-align: center;
      }
      &.remove {
        text-align: center;
        &:hover {
          color: #1672BD;
        }
      }
    }
  }
  .note-form {
    label {
      font-family: sans-serif;
    }
    textarea {
      border-radius: 4px;
      height: 70px;
      border-color: #DDD7D7;
      resize: none;
    }
  }
  .cart-buttons {
    margin-top: 30px;
    .button-checkout {
      margin-top: 30px;
      button {
        background: #bf1515;
        color: #fff;
        border: none;
        padding: 0 20px;
        font-size: 16px;
        border-radius: 3px;
        height: 45px;
        line-height: 45px;
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          width: 1px;
          height: 100%;
          position: absolute;
          right: 45px;
        }
        &::after {
          content: "";
          background: url(images/ta_icon-arr.png) no-repeat center right;
          width: 30px;
          height: 100%;
          float: right;
          margin-left: 10px;
        }
        margin: 7px;
        &:hover {
          background: #d71e1e;
        }
      }
    }
  }
}

.checkout-page {
  background-color: #ecf0f1;
  font-family: sans-serif;
  margin-top: -86px;
  .checkout-title {
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #2c3e50;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    @media screen and (max-width: 768px) {
      font-size: 25px;
    }
    @media screen and (max-width:992px) {
      margin-top: 40px;
    }
    span.back {
      color: #0082dd;
      position: absolute;
      left: 0;
      font-size: 14px;
      text-transform: capitalize;
      height: 30px;
      font-weight: 400;
      line-height: 30px;
      background: url(images/ta_back-checkout.png) no-repeat center left;
      vertical-align: bottom;
      padding-left: 22px;
      top: 11px;
      @media screen and (max-width: 992px) {
        top: -30px;
      }
    }
  }
  .form-user {
    background-color: #fff;
  }
  .info {
    h2 {
      color: #2c3e50;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      font-family: sans-serif;
    }
    hr {
      border-top: 1px solid #0082dd;
      width: 320px;
      margin: 17px 0px;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
    .user-login {
      a {
        color: #0082dd;
      }
      span {
        padding: 0px 3px;
      }
    }
    .form-info {
      margin-top: 20px;
      label {
        font-size: 14px;
        color: #0082dd;
        font-weight: 400;
        display: block;
        &.error {
          color: #d71e1e;
        }
      }
      .select-county {
        position: relative;
        display: inline-block;
        margin-top: 15px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
        select {
          margin-top: 0;
        }
        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          bottom: 1px;
          right: 1px;
          border-radius: 0px 4px 4px 0px;
          top: 1px;
          width: 2em;
          background-color: #BDC3C7;
        }
        &::after {
          position: absolute;
          pointer-events: none;
          content: "▼";
          font-size: 11px;
          line-height: 1;
          margin-top: -0.5em;
          right: 8px;
          top: 50%;
          color: #FFFFFF;
        }
      }
      .select-city {
        position: relative;
        display: inline-block;
        margin-top: 15px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
        select {
          margin-top: 0;
        }
        &::before {
          content: "";
          pointer-events: none;
          position: absolute;
          bottom: 1px;
          right: 1px;
          border-radius: 0px 4px 4px 0px;
          top: 1px;
          width: 2em;
          background-color: #BDC3C7;
        }
        &::after {
          position: absolute;
          pointer-events: none;
          content: "▼";
          font-size: 11px;
          line-height: 1;
          margin-top: -0.5em;
          right: 8px;
          top: 50%;
          color: #FFFFFF;
        }
      }
      input,
      select,
      textarea {
        width: 320px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        height: 37px;
        padding-left: 5px;
        outline: 0;
        text-indent: 20px;
        margin-top: 15px;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
        &.error {
          border: 1px solid #d71e1e;
        }
      }
      .note-build {
        textarea {
          height: 70px;
        }
      }
    }
  }
  .shipping {
    h3 {
      font-size: 15px;
      color: #2c3e50;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .how-pay {
    color: #666666;
    label.method {
      line-height: 35px;
      @media screen and (max-width: 992px) {
        display:block;
      }
    }
    input.method-input {
      width: 1px;
      opacity: 0;
      margin: 0;
      &:checked~span.method-radio {
        background-position: 0 -20px;
      }
    }
    span.method-radio {
      padding-left: 28px;
      height: 20px;
      display: inline-block;
      line-height: 20px;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer;
      font-weight: 600;
      background-image: url(images/ta_radio.png);
    }
  }
  .box-cart {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px;
    font-size: 14px;
    color: #666666;
    h2 {
      font-family: sans-serif;
      color: #2c3e50;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      span {
        font-size: 13px;
        color: #666666;
      }
    }
    .list-item {
      border-top: 1px dashed #eee;
      padding: 10px 0;
      text-align: left;
    }
    .total-price {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      padding-top: 10px;
      font-weight: 600;
      p {
        margin: 0;
      }
    }
    .shiping-price {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .btn-coupon {
      margin-bottom: 0;
      display: block;
      padding-top: 11px;
      padding: 5px 10px 0 0;
      padding-bottom: 10px;
      color: #0685DE;
      text-align: left;
      transition: all 300ms;
      cursor: pointer;
      i {
        margin-left: 5px;
      }
      &:hover {
        color: #ef8742;
        i {
          margin-left: 10px;
        }
      }
    }
    .coupon.active {
      display: block;
    }
    .coupon {
      margin-top: 15px;
      display: none;
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #cccccc;
        height: 37px;
        padding-left: 5px;
        outline: 0;
      }
      a {
        width: auto;
        display: inline-block;
        height: 32px;
        float: right;
        font-size: 13px;
        padding: 0 7px;
        background: #3498db;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        border: 0;
        outline: 0;
        line-height: 36px;
        margin: 20px 0;
        border-radius: 3px;
      }
    }
    .total-checkout {
      background: #f0f0f0;
      padding: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: -10px;
      font-weight: 600;
      p {
        margin: 0;
      }
      span {
        text-transform: none;
      }
    }
  }
  #pay-checkout {
    background-color: #3498db;
    color: #fff;
    opacity: 1;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    &:hover {
      opacity: 0.8;
    }
  }
  .col-sm-4 {
    padding: 15px;
  }
}

.products-page {
  padding-top: 86px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  font-family: sans-serif;
  .breadcrumbs {
    background-color: #F2F2F2;
    padding: 11px 0;
    .breadcrumb {
      margin: 0;
      padding: 2px;
      background: transparent;
      li.active {
        span {
          color: #777777;
        }
      }
      a {
        color: #bf1515;
      }
    }
  }
}

.products-page {
  .product-title {
    padding-bottom: 40px;
    h1 {
      font-family: 'UVFLobster12', sans-serif;
      font-size: 36px;
      font-weight: 500;
      color: #333;
      text-transform: capitalize;
    }
  }
  .product-price {
    padding-bottom: 12px;
    font-family: 'UVFLobster12', sans-serif;
    margin-top: 10px;
    span {
      font-size: 34px;
      color: #d71e1e;
      margin-right: 25px;
    }
  }
  .quantity-box {
    margin-bottom: 30px;
    max-width: 125px;
    input.quantity-val {
      color: #333;
      font-size: 15px;
      width: 54px;
      min-height: 50px;
      text-align: center;
      float: left;
      line-height: normal;
      outline: none;
      background: #ffffff;
      border: 1px solid #dcdcdc;
      margin-right: 5px;
    }
    .quantity-up,
    .quantity-down {
      float: left;
      button {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        line-height: 24px;
        padding: 0px;
        font-size: 20px;
        width: 35px;
        height: 25px;
        margin: 0;
        border-radius: 0;
        color: #fff;
        border: 1px solid #eee;
        background: #7f7f7f;
      }
    }
  }
  .btn-detail {
    border: none;
    padding: 0 30px 0 50px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    height: 50px;
    line-height: 47px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-family: 'UVFLobster12';
    font-size: 18px;
    font-weight: 300;
    text-transform: initial;
    &::before {
      content: "";
      width: 30px;
      height: 100%;
      float: left;
      margin-left: 10px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &.btn-add {
      background: #bf1515;
      margin: 10px 0px;
      &::before {
        background: url(images/ta_cart.png) no-repeat center center;
      }
    }
    &.btn-buy {
      background: #7f7f7f;
      cursor: pointer;
      margin: 10px 0px;
      &::before {
        background: url(images/ta_check.png) no-repeat center center;
      }
    }
  }
  .related {
    padding-top: 20px;
    &__products {
      @media screen and (max-width: 768px) {
        text-align: center
      }
    }
    &__title {
      h3 {
        font-family: 'UVFLobster12';
        color: #d71e1e;
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }
    hr {
      border-top: 1px solid #d71e1e;
      margin-bottom: 23px;
    }
  }
}

#page-product.nav.nav-tabs {
  border: none;
  li {
    float: none;
    display: block;
    margin-bottom: 3px;
    &.active {
      a {
        background-color: #d71e1e;
        &::before {
          content: "";
          position: absolute;
          right: -14px;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 27px 0 27px 14px;
          border-color: transparent transparent transparent #d71e1e;
        }
      }
    }
    a {
      background-color: #5c5c5c;
      position: relative;
      font-size: 14px;
      padding: 17px 22px;
      display: block;
      text-align: center;
      color: #fff;
      font-family: 'UVFLobster12';
    }
  }
}

.main-product {
  padding-top: 30px;
  margin-top: 10px;
  .slider-pc {
    display: block;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .slider-mobie {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
    .nav-thuml {
      margin-top: 30px;
    }
  }
  .flex-direction-nav a {
    font-size: 0px;
    width: 27px;
    height: 27px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
  }
  .flex-direction-nav a:before {
    font-family: fontawesome;
    font-size: 18px;
    text-align: center;
    line-height: 29px;
  }
  .flex-direction-nav a.flex-next:before {
    content: "\f054";
  }
  .flex-direction-nav a.flex-prev:before {
    content: "\f053";
  }
  .nav-thuml .owl-carousel .owl-nav button.owl-next {
    right: 32px;
  }
  .nav-thuml .owl-carousel .owl-nav button.owl-prev {
    left: 32px;
  }
  .nav-thuml .owl-carousel .owl-nav button.owl-next,
  .nav-thuml .owl-carousel .owl-nav button.owl-prev {
    width: 27px;
    height: 26px;
    position: absolute;
    top: calc(50% - 16px);
    background-color: #fff;
  }
}

.zoomContainer {
  z-index: 2;
}

.login-page {
  padding-top: 86px;
  .icon-field {
    display: inline-block;
    background-color: #F8F8F8;
    color: white;
    border: solid 1px #E7E7E7;
    text-align: center;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .icon-login {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
  }
  .icon-email {
    &::after {
      content: url(images/ta_email.png);
    }
  }
  .icon-pass {
    &::after {
      content: url(images/ta_pass.png);
      margin-top: 8px;
      display: block;
    }
  }
  input.login_input {
    max-width: calc(100% - 30px);
    width: 270px;
    height: 37px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px #E7E7E7;
    margin-left: -5px;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 0px;
    &::placeholder {
      font-family: sans-serif;
    }
  }
  #dang_nhap {
    max-width: 100%;
    width: 335px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
  }
  .action_bottom {
    button {
      font-size: 14px;
      font-weight: 600;
      color: white;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      height: 35px;
      background: #d60303;
      text-align: center;
      border: none;
      margin-top: 15px;
      cursor: pointer;
      padding: 6px 12px;
      margin-bottom: 0;
      font-family: sans-serif;
    }
  }
  .req_pass {
    text-align: left;
    margin-top: 10px;
    a {
      color: #d60303;
      &:hover {
        color: #ef8742;
      }
    }
  }
  label.error {
    font-family: sans-serif;
    text-align: left;
    color: #d60303;
    margin-top: 10px;
    display: block;
  }
  input {
    font-family: sans-serif;
  }
}

.singin-page {
  padding-top: 86px;
  input {
    font-family: sans-serif;
  }
  .icon-field {
    display: inline-block;
    background-color: #F8F8F8;
    color: white;
    border: solid 1px #E7E7E7;
    text-align: center;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    line-height: 33px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  .icon-login {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
  }
  .icon-email {
    &::after {
      content: url(images/ta_email.png);
    }
  }
  .icon-user {
    &::after {
      content: url(images/ta_userico.png)
    }
  }
  .icon-pass {
    &::after {
      content: url(images/ta_pass.png);
      margin-top: 8px;
      display: block;
    }
  }
  input.login_input {
    max-width: calc(100% - 30px);
    width: 270px;
    height: 37px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px #E7E7E7;
    margin-left: -5px;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 0px;
    &::placeholder {
      font-family: sans-serif;
    }
  }
  #dang_ki {
    max-width: 100%;
    width: 335px;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
  }
  .action_bottom {
    button {
      font-size: 14px;
      font-weight: 600;
      color: white;
      display: inline-block;
      text-decoration: none;
      width: 100%;
      height: 35px;
      background: #d60303;
      text-align: center;
      border: none;
      margin-top: 15px;
      cursor: pointer;
      padding: 6px 12px;
      margin-bottom: 0;
      font-family: sans-serif;
    }
  }
  .req_pass {
    text-align: left;
    margin-top: 10px;
    a {
      color: #d60303;
      &:hover {
        color: #ef8742;
      }
    }
  }
  label.error {
    font-family: sans-serif;
    text-align: left;
    color: #d60303;
    margin-top: 10px;
    display: block;
  }
}
