body {
  font-size: 13px;
  color: #333;
  font-weight: 400;
  line-height: 21px;
  h5,
  h4,
  h2 {
    font-family: 'UVFLobster12';
  }
  a {
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.up {
  position: fixed;
  z-index: 1555;
  right: 8px;
  bottom: 10px;
  padding: 11px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #d71e1e;
  border-color: transparent;
  transform: scale(0);
  transition: 0.5s;
}

.up-active {
  transform: scale(1);
}

.goodsale,
.ATPN,
.set-menu {
  @media screen and (max-width: 1199px) {
    .col-3 {
      width: 100%;
      float: none;
    }
  }
  font-family: Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif !important;
  padding-top:85px;
  position: relative;
}

.ATPN {
  .goodsale-content .main-content aside {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.goodsale,
.ATPN {
  .topbar {
    li.li-display {
      display: none;
    }
  }
}

.goodsale-content {
  .main-content {
    aside {
      padding-top: 30px;
      h4 {
        margin: 0 39px 0px 0;
        line-height: 36px;
        margin-top: 0px;
        padding: 10px 0;
        font-size: 34px !important;
        color: #444444;
        font-family: 'UVFLobster12';
      }
    }
    .col9-content {
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 30px;
      .title {
        h4 {
          margin: 0 40px 0px 0;
          line-height: 36px;
          margin-top: 0px;
          padding: 10px 0;
          font-size: 34px !important;
          color: #444444;
          font-family: 'UVFLobster12';
        }
      }
      .Pagination {
        display: block;
        background: #DDDDDD;
        margin-bottom: 30px;
        .col-xs-3 {
          @media screen and (max-width: 600px) {
            display: none;
          }
        }
        .col-xs-6 {
          @media screen and (max-width: 600px) {
            width: 100%;
          }
        }
        a.prev {
          margin: 10px 0px 10px 10px;
        }
        a.next {
          margin: 10px 10px 10px 0px;
        }
        a {
          border: 1px solid #e9e9e9;
          display: inline-block;
          height: 24px;
          line-height: 22px;
          padding: 0 9px;
          color: #909090;
          font-size: 12px;
          text-align: center;
          border-radius: 0;
          -webkit-border-radius: 0;
          margin: 10px 0px;
          background: #fff;
          &:hover {
            background: #d71e1e;
            color: #fff;
          }
        }
        ul {
          text-align: center;
          li {
            padding: 0px;
          }
          li.dots {
            cursor: text;
            &:hover {
              a {
                cursor: text;
                background: #fff;
                color: #909090;
              }
            }
          }
          .a-active {
            background: #d71e1e;
            color: #fff;
          }
        }
      }
    }
    .owl-nav {
      position: absolute;
      top: -71px;
      right: 0;
      .owl-prev {
        margin-right: 5px;
      }
      .owl-next {
        margin-left: 5px;
      }
      i {
        font-size: 32px;
        color: #838383;
      }
    }
    .lst-item {
      position: relative;
    }
  }
}

.set-menu {
  .listmenu1 ul li:nth-child(4):after,
  .listmenu1 ul li:nth-child(5):after {
    display: none;
  }
  .topbar {
    li.li-display {
      display: inline-block;
    }
  }
  .product .product-info__img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .menu-content {
    display: block;
    .col-xs-6 {
      @media screen and (max-width: 526px) {
        width: 100%;
      }
    }
  }
  .menu-content2 {
    display: none;
  }
  .goodsale-content .main-content .owl-nav{
    top: -41px;
  }
}

.toolbar {
  font-size: 14px;
  background: #DDDDDD;
  margin-bottom: 15px;
  position: relative;
  &-box {
    float: left;
    color: #909090;
  }
  ul {
    margin-right: 10px;
    font-size: 0px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    li {
      padding: 0px;
      a {
        width: 35px;
        height: 45px;
        line-height: 49px;
        display: block;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        color: #878787;
        font-size: 16px;
        &:hover,
        &:active,
        &:focus {
          i {
            color: #d71e1e;
          }
          i.icon-active {
            color: #d71e1e;
          }
        }
      }
    }
  }
  .sort-tag {
    margin: 10px 0px;
  }
  span {
    color: #666;
    margin: 0px 10px;
    line-height: 25px;
    display: inline-block;
  }
  select {
    border-radius: 5px;
    outline: none;
    height: 25px;
    color: #444;
    width: 180px;
    box-sizing: border-box;
    padding: 2px 0px 2px 5px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      border: 1px solid #e5e5e5;
      height: 100%;
      background: #e5e5e5;
      top: 0px;
      right: 5px;
    }
  }
}