extends _layouts/layout
block content
  .about-page
    .container
      .row
        .col-xs-12
          .title-default  
            h1 Nhà hàng Phương Nam - Món ngon Miền Nam
        .col-xs-12
          .content-wrapper
            p Được thành lập từ tình yêu, niềm đam mê bất tận với các món ăn và nếp văn hóa của người dân Nam Bộ, Nhà hàng Phương Nam đã chính thức đi vào hoạt
              | động tháng 12/2010 (tại địa chỉ số 2 ngõ 69 Chùa Láng – Hà Nội), mang một làn gió ẩm thực mới đến với người Hà Nội.
            img(src="images/ta_kg1_grande.jpg", alt="")
            p Chỉ sau 2 năm hoạt động, với tiêu chí, luôn nỗ lực không ngừng để có những món ăn ngon, nhân viên phục vụ thân thiện và dịch vụ tốt làm hài lòng
              | mọi quý khách hàng (ngay cả những thực khách khó tính nhất), Nhà hàng Phương Nam đã mở rộng quy mô hoạt động, thành lập cơ sở 2 tại 13 Mai Hắc
              | Đế, Hai Bà Trưng và cơ sở 3 tại 35 Dịch Vọng Hậu, Cầu Giấy – Hà Nội, giúp thỏa mãn “cơn nghiện” của nhiều tín đồ mê đồ ăn Nam Bộ hơn nữa.
            img(src="images/ta_kg2_grande.jpg", alt="")
            p Liên tục cải tiến về chất lượng và đa dạng hóa món ăn, đến nay, trong thực đơn Nhà hàng Phương Nam đã có 
              span hơn 50 món ăn 
              | mang bản sắc, dấu ấn riêng
              | của người Nam Bộ. Không chỉ vậy, với tiêu chí, mang đúng “hơi thở và linh hồn” của món ăn người dân bản xứ, cùng với sự chỉn chu trong nấu nướng
              | của bếp trưởng, tất cả các nguyên liệu chế biến món ăn tại Nhà hàng Phương Nam đều được vận chuyển từ trong miền Nam ra Hà Nội nhưng phải giữ
              | được sự tươi ngon. Đây chính là một trong số những lý do, giúp Nhà hàng Phương Nam chinh phục được cả những thực khách khó tính, rất sành về ẩm
              | thực Nam Bộ. Đến với Nhà hàng Phương Nam, quý khách hàng không chỉ được thỏa mãn vị giác, thị giác, xúc giác với Menu hơn 50 món ăn Nam Bộ tự 
              |chọn mà còn được phục vụ kiểu chuẩn chất người Miền Nam, gần gũi, thân thiện mà ấm áp. Một số món ăn khi đến với Nhà hàng Phương Nam, bạn không
              | thể không thử: Lẩu cá linh – Bông điên điển, Lẩu cá kèo lá giang, Cá linh chiên giòn, Lẩu mắm… Bởi vậy, nếu bạn là người Phương Nam ra Hà Nội 
              |lập nghiệp, hoặc nếu bạn chưa có cơ hội thử nét đặc sắc của ẩm thực Nam Bộ lần nào hoặc vị giác đã “trót nghiện” với món ăn Nam Bộ và bạn đang
              |“lên cơn thèm”… còn chờ gì nữa, hãy liên hệ ngay với chúng tôi qua Tổng đài 18002028 để đặt bàn và được tư vấn chu đáo nhất nhé!
            p 
              strong
                i Thông tin liên hệ
            p 
              span
                strong Nhà hàng Phương Nam – Món ngon miền Nam
            p
              span 
                strong Cơ sở 1: 
              span Số 2, ngõ 69 Chùa Láng. 
            p
              span 
                strong Cơ sở 2: 
              span Số 2, ngõ 69 Chùa Láng.
            p
              span 
                strong Cơ sở 3: 
              span Số 2, ngõ 69 Chùa Láng. 
            p 
              span 
                strong Tổng đài đặt bàn miễn phí: 18002028
            p
              span 
                strong Website: 
              span 
                a(href="#") nhahangphuongnam.vn
            p
              span 
                strong Fanpage: 
              span 
                a(href="#") facebook.com/NhaHangPhuongNamMonNgonMienNam
            p
              span Một số hình ảnh không gian và các món ăn được yêu thích nhất tại nhà hàng Phương Nam
            img(src="images/ta_com_chay_grande.jpg", alt="")
            p
              i Cơm cháy kho quẹt
            img(src="images/ta_com_chay_grande.jpg", alt="")
            p
              i Bánh tráng Trảng Bàng cuốn thập cẩm
            img(src="images/ta_com_chay_grande.jpg", alt="")
            img(src="images/ta_com_chay_grande.jpg", alt="")
            img(src="images/ta_com_chay_grande.jpg", alt="")
            img(src="images/ta_com_chay_grande.jpg", alt="")