extends _layouts/layout
block content
  .cart-page
    .container
      .row
        .col-xs-12
          .title-default  
            h1 Giỏ hàng
        .col-xs-12
          form#cart-form(action="")
            table 
              thead
                tr
                  th.image &nbsp;
                  th.item Tên sản phẩm
                  th.qty Số lượng
                  th.price Giá tiền
                  th.remove &nbsp;
              tbody
                tr.active
                  td.image
                    img(src="images/ta_cart-img.jpg", alt="")
                  td.item 
                    strong
                      a(href="#") Họp mặt 2 (dành cho 5 - 6 người)
                  td.qty 
                    input(type="number" value="1" min="1" )
                  td.price 
                    span
                      |1,160,000₫	
                    span
                      sup đ
                  td.remove 
                    a(href="#") xóa
                tr.active
                  td.image
                    img(src="images/ta_cart-img.jpg", alt="")
                  td.item 
                    strong
                      a(href="#") Họp mặt 2 (dành cho 5 - 6 người)
                  td.qty 
                    input(type="number" value="1" min="1" )
                  td.price 
                    span
                      |1,160,000₫	
                    span
                      sup đ
                  td.remove 
                    a(href="#") xóa
                tr
                  td.image
                    img(src="images/ta_cart-img.jpg", alt="")
                  td.item 
                    a(href="#")
                      strong
                        a(href="#") Họp mặt 2 (dành cho 5 - 6 người)
                  td.qty 
                    input(type="number" value="1" min="1" )
                  td.price 
                    span
                      |1,160,000₫	
                    span
                      sup đ
                  td.remove 
                    a(href="#") xóa
                tr.show-table
                  td.image
                  td.item 
                    a(href="#")
                  td.qty 
                    strong Tổng cộng
                  td.price 
                    span
                      |1,160,000₫	
                    span
                      sup đ
                  td.remove
            .row
              .col-md-6
                .note-form
                  label Ghi chú
                  br
                  textarea#note(name="note" rows="8" cols="50")
              .col-md-6.cart-buttons
                .button-checkout
                  button.checkout.fright(type="submit" name="checkout")
                    |Thanh toán
                  button.update.fright(type="submit" name="checkout")
                    |Cập nhật
                  clear-fix
