extends _layouts/layout-2
block content
  .checkout-page
    .container
      .row
        .col-xs-12.text-center
          a(href="#")
            h1.checkout-title
              span.back Quay về giở hàng
              |Nhà hàng phương nam
        .col-xs-12.form-user
          form#user-form.row(action="")
            .col-md-4
              .info
                h2 Thông tin giao hàng
                .user-login
                  a(href="#") Đăng kí tài khoản mua hàng
                  span |
                  a(href="#") Đăng nhập
                hr
                .form-info
                  label Mua không cần tài khoản
                  input.name(type="text" name="info_name" placeholder="Họ và tên")
                  br
                  input.nember(type="text" name="info_number" placeholder="Số điện thoại")
                  br
                  input(type="text" name="info_email" placeholder="Email")
                  br
                  input(type="text" name="info_address" placeholder="Địa chỉ" required)
                  .select-city
                    select.formcity(name='formcity]', required)
                      option(value='null', selected='') Vui lòng chọn tỉnh/thành phố.
                      option(value='50') Hồ Chí Minh
                      option(value='1') Hà Nội
                      option(value='32') Đà Nẵng
                      option(value='57') An Giang
                      option(value='49') Bà Rịa - Vũng Tàu
                      option(value='15') Bắc Giang
                      option(value='4') Bắc Kạn
                      option(value='62') Bạc Liêu
                      option(value='18') Bắc Ninh
                      option(value='53') Bến Tre
                      option(value='35') Bình Định
                      option(value='47') Bình Dương
                      option(value='45') Bình Phước
                      option(value='39') Bình Thuận
                      option(value='63') Cà Mau
                      option(value='59') Cần Thơ
                      option(value='3') Cao Bằng
                      option(value='42') Đắk Lắk
                      option(value='43') Đắk Nông
                      option(value='7') Điện Biên
                      option(value='48') Đồng Nai
                      option(value='56') Đồng Tháp
                      option(value='41') Gia Lai
                      option(value='2') Hà Giang
                      option(value='23') Hà Nam
                      option(value='28') Hà Tĩnh
                      option(value='19') Hải Dương
                      option(value='20') Hải Phòng
                      option(value='60') Hậu Giang
                      option(value='11') Hòa Bình
                      option(value='21') Hưng Yên
                      option(value='37') Khánh Hòa
                      option(value='58') Kiên Giang
                      option(value='40') Kon Tum
                      option(value='8') Lai Châu
                      option(value='44') Lâm Đồng
                      option(value='13') Lạng Sơn
                      option(value='6') Lào Cai
                      option(value='51') Long An
                      option(value='24') Nam Định
                      option(value='27') Nghệ An
                      option(value='25') Ninh Bình
                      option(value='38') Ninh Thuận
                      option(value='16') Phú Thọ
                      option(value='36') Phú Yên
                      option(value='29') Quảng Bình
                      option(value='33') Quảng Nam
                      option(value='34') Quảng Ngãi
                      option(value='14') Quảng Ninh
                      option(value='30') Quảng Trị
                      option(value='61') Sóc Trăng
                      option(value='9') Sơn La
                      option(value='46') Tây Ninh
                      option(value='22') Thái Bình
                      option(value='12') Thái Nguyên
                      option(value='26') Thanh Hóa
                      option(value='31') Thừa Thiên Huế
                      option(value='52') Tiền Giang
                      option(value='54') Trà Vinh
                      option(value='5') Tuyên Quang
                      option(value='55') Vĩnh Long
                      option(value='17') Vĩnh Phúc
                      option(value='10') Yên Bái
                  .select-county
                    select.formcounty(name='formcounty')
                      option(value='', selected='') Vui lòng chọn quận/huyện.
                      option(value='360') Quận Hải Châu
                      option(value='361') Quận Thanh Khê
                      option(value='362') Quận Sơn Trà
                      option(value='363') Quận Ngũ Hành Sơn
                      option(value='364') Quận Liên Chiểu
                      option(value='365') Huyện Hoà Vang
                      option(value='366') Huyện Đảo Hoàng Sa
                      option(value='685') Quận Cẩm Lệ
                  .note-build
                    textarea(name="note-build", cols="30", rows="10" placeholder="Ghi chú đơn hàng")
            .col-md-4
              .shipping
                h3 Thanh toán
                .how-pay
                  label.method
                    input.method-input(type="radio" name="how-pay" checked)
                    span.method-radio Thanh toán khi nhận hàng (COD)
                  label.method
                    input.method-input(type="radio" name="how-pay")
                    span.method-radio Chuyển khoản qua ngân hàng
            .col-md-4
              .box-cart
                h2 Đơn hàng
                  span (
                  span 1
                  span sản phẩm)
                .cart-items
                  .list-item
                    span 1 x 
                    span Họp mặt 1 (dành cho 5 - 6 người)
                    span.price.fright 1,020,000₫
                    .clear-fix
                  .list-item
                    span 1 x 
                    span Họp mặt 2 (dành cho 1 - 3 người)
                    span.price.fright 1,020,000₫
                    .clear-fix
                .total-price
                  p.fleft Tạm tính
                  p.fright 
                    span 1,020,000
                      u đ
                  .clear-fix
                .shiping-price
                  p.fleft Phí vận chuyển
                  p.fright 
                    span 0
                      u đ
                  .clear-fix
                a.btn-coupon
                  span.click-show Sử dụng mã giảm giá
                    span 
                      i.fas.fa-chevron-right
                .coupon
                  input(type="text" placeholder="Sử dụng mã giảm giá")
                  a(href="#") Sử dụng
                  .clear-fix
                .total-checkout
                  p.fleft Tổng cộng
                  p.fright
                    span 1,020,000
                      span 
                        u đ
                  .clear-fix
              button#pay-checkout(type="submit") Đặt hàng
            .clear-fix