extends _layouts/layout
block content
  .login-page
    .container
      .row
        .col-xs-12
          .title-default  
            h1 Đăng nhập
        .col-xs-12
          .content-wrapper.text-center
            form#dang_nhap(action="")
              .email_input
                label.icon-field.email-icon.fleft
                  i.icon-login.icon-email
                input#customer_email.login_input.fleft(type="email" placeholder="Email" name="login_email")
                .clear-fix
              .pass_input
                label.icon-field.pass-icon.fleft
                  i.icon-login.icon-pass
                input#customer_pass.fleft.login_input(type="password" placeholder="Mật khẩu" name="login_pass")
                .clear-fix
              .action_bottom
                button(type="submit") Đăng nhập
              .req_pass
                p
                  span 
                    a(href="#") Quên mật khẩu? 
                  |hoặc
                  span 
                    a(href="#") Đăng ký