extends _layouts/layout
block content
  .singin-page
    .container
      .row
        .col-xs-12
          .title-default  
            h1 Tạo tài khoản
        .col-xs-12
          .content-wrapper.text-center
            form#dang_ki(action="")
              .first-name_input
                label.icon-field.user-icon.fleft
                  i.icon-login.icon-user
                input#customer_name.login_input.fleft(type="text" placeholder="Họ" name="singin_first_name")
                .clear-fix
              .name_input
                label.icon-field.user-icon.fleft
                  i.icon-login.icon-user
                input#customer_first-name.login_input.fleft(type="text" placeholder="Tên" name="singin_name")
                .clear-fix
              .email_input
                label.icon-field.email-icon.fleft
                  i.icon-login.icon-email
                input#customer_email.login_input.fleft(type="email" placeholder="Email" name="singin_email")
                .clear-fix
              .pass_input
                label.icon-field.pass-icon.fleft
                  i.icon-login.icon-pass
                input#customer_pass.fleft.login_input(type="password" placeholder="Mật khẩu" name="singin_pass")
                .clear-fix
              .action_bottom
                button(type="submit") Đăng nhập
              .req_pass
                p
                  span 
                    a(href="#") Quay về