extends _layouts/layout
block content
  .banner-slide
    .container-fluid
      .row
        .owl-carousel.owl-theme
          .item
            .banner-slider__img
              img(src="images/image_slide_1.jpg", alt="")
          .item
            .banner-slider__img
              img(src="images/image_slide_2.jpg", alt="")
          .item
            .banner-slider__img
              img(src="images/image_slide_3.jpg", alt="")
          .item
            .banner-slider__img
              img(src="images/image_slide_4.jpg", alt="")
  section#menu.menu
    .container
      .row
        .menu__img.text-center
          img(src="images/our-menu.png", alt="")
        .menu__title.text-center
          h1 Thực đơn của nhà hàng
        .menu__info.text-center
          p 
            i Với thực đơn gần 100 món ăn, đậm chất miền Nam Bộ, Nhà hàng Phương Nam chắc chắn sẽ chinh phục được vị giác của bạn chỉ sau một lần thử!
        .menu__tab-product
          ul.nav.nav-pills.text-center.list-inline
            li.active
              a(href='#cuon', data-toggle='tab') Cuống
            li
              a(href='#lau', data-toggle='tab') Lẩu
            li
              a(href='#nuong', data-toggle='tab') Nướng
            li
              a(href='#an-nhe', data-toggle='tab') Món ăn nhẹ
            li
              a(href='#banh-trang', data-toggle='tab') Bánh tráng trảng bàng
          .tab-content.clearfix
            #cuon.tab-pane.active
              .owl-carousel.owl-theme
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
            #lau.tab-pane
              .owl-carousel.owl-theme
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
            #nuong.tab-pane
              .owl-carousel.owl-theme
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
            #an-nhe.tab-pane
              .owl-carousel.owl-theme
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
            #banh-trang.tab-pane
              .owl-carousel.owl-theme
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                .item
                  +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
  section#banner-home.banner-home
    .container
      .row
        ul.list-item.item-left.col-xs-3
          li
            a(href="#")
              img(src="images/banner-3-copy.jpg", alt="")
          li
            a(href="#")
              img(src="images/banner-4-copy.jpg", alt="")
        .item-center.col-xs-6
          img(src="images/banner-1-copy.jpg", alt="")
        ul.list-item.item-right.col-xs-3
          li
            a(href="#")
              img(src="images/banner-3.jpg", alt="")
          li
            a(href="#")
              img(src="images/banner-4.jpg", alt="")
  section#product-sale.product-sale
    .container
      .row
        .product-sale__title.text-center
          h1 Sản Phẩm Khuyễn Mãi
        .product-sale__content.text-center
          p
            i Nhà hàng Phương Nam có gần 7 năm kinh nghiệm chuyên phục vụ các món ăn Miền Tây, thực đơn đa dạng phong phú với không gian nhà hàng thoáng đãng, sạch sẽ; đội ngũ nhân viên có thái độ phục vụ chu đáo và nhẹ nhàng.
        .product-sale__slide
          .owl-carousel.owl-theme
            -for(i =0 ; i< 6 ; i++)
              .item
                +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
  section#customer-cmt.customer-cmt(style="background: url(images/ta_testimonial-bg.jpg) repeat fixed center center;")
    .container
      .row
        .customer-cmt__slide
          .customer-cmt__icon.text-center
            img(src="images/ta_customer-icon.png", alt="")
          .customer-cmt__title.text-center
            h3 Nhận xet khách hàng
          .owl-carousel.owl-theme.text-center
            -for(i =0 ; i< 4 ; i++)
              .item
                .customer-cmt__avatar
                  img(src="images/customer-service3.jpg", alt="")
                .customer-cmt__text
                  p Cơm cùng các món mặn phong phú từ cá, thịt hèo, thịt bò, gà, mực và các loại rau thanh mát để bạn thoải mái lựa chọn cho mình các món khoái khẩu. Bữa tiệc còn có sự góp mặt của món bún, mì và canh giúp bạn thay đổi khẩu vị và không thấy nhàm chán khi ăn. Cuối bữa ăn, bạn có thể tráng miệng với chè phục linh, rau câu trái cây hay uống nước sâm rong biển, trà, café… để tẩm bổ đầy đủ dinh dưỡng và giúp hệ tiêu hóa hoạt động tốt hơn.
  section#partner.partner
    .container
      .row.text-center
        .partner__icon
          img(src="images/our-blog.png", alt="")
        .partner__title
          h3 Đối tác
        .partner__list
          .owl-carousel.owl-theme.text-center
            .item
              img(src="images/ta_left_image_ad_1.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_2.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_3.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_4.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_5.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_1.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_2.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_3.jpg", alt="")
            .item
              img(src="images/ta_left_image_ad_4.jpg", alt="")