extends _layouts/layout
block content
  .products-page
    .breadcrumbs
      .container
        .row
          .col-sm-12
            ol.breadcrumb.breadcrumb-arrow.hidden-sm.hidden-xs
              li
                a(href="#") Trang chủ
              li
                a(href="#") Thực đơn chọn món
              li.active
                span  Chè bà ba
    .main-product
      .container
        .row
          .col-md-5
            .slider-pc
              #slider.flexslider
                ul.slides
                  li
                    img.zoom(src='images/ta_images-zoom1.jpg', data-zoom-image='images/ta_images-zoom1.jpg')
                  li
                    img.zoom(src='images/ta_images-zoom2.jpg', data-zoom-image='images/ta_images-zoom2.jpg')
                  li
                    img.zoom(src='images/ta_images-zoom3.jpg', data-zoom-image='images/ta_images-zoom3.jpg')
                  li
                    img.zoom(src='images/ta_images-zoom4.jpg', data-zoom-image='images/ta_images-zoom4.jpg')
                  li
                    img.zoom(src='images/ta_images-zoom5.jpg', data-zoom-image='images/ta_images-zoom5.jpg')
              #carousel.flexslider
                ul.slides
                  li
                    img(src='images/ta_thuml1.jpg')
                  li
                    img(src='images/ta_thuml2.jpg')
                  li
                    img(src='images/ta_thuml3.jpg')
                  li
                    img(src='images/ta_thuml4.jpg')
                  li
                    img(src='images/ta_thuml5.jpg')
            .slider-mobie
              .image-zoom
                .owl-carousel.owl-theme
                  .item(data-hash="zero")
                    img(src="images/ta_images-zoom1.jpg" alt="")
                  .item(data-hash="one")
                    img(src="images/ta_images-zoom2.jpg" alt="")
                  .item(data-hash="two")
                    img(src="images/ta_images-zoom3.jpg" alt="")
                  .item(data-hash="three")
                    img(src="images/ta_images-zoom4.jpg" alt="")
                  .item(data-hash="four")
                    img(src="images/ta_images-zoom5.jpg" alt="")
              .nav-thuml
                .owl-carousel.owl-theme
                  .item
                    a(href="#zero")
                      img(src="images/ta_thuml1.jpg", alt="")
                  .item
                    a(href="#one")
                      img(src="images/ta_thuml2.jpg", alt="")
                  .item
                    a(href="#two")
                      img(src="images/ta_thuml3.jpg", alt="")
                  .item
                    a(href="#three")
                      img(src="images/ta_thuml4.jpg", alt="")
                  .item
                    a(href="#four")
                      img(src="images/ta_thuml5.jpg", alt="")
          .col-md-6
            .product-title
              h1 Chim bồ câu quay
            .product-price
              span 149,000 
                sup
                  u đ
            p Bồ câu ra ràng là chỉ chim bồ câu đã được 10 - 15 ngày tuổi, thường vươn cổ thập thò ở tổ và ra ràng để đón ăn mồi. Chúng to chừng nắm tay và mọc lông măng thưa thớt, chỉ có phần cánh và phần lưng là mọc...
            form#add-item-product.row(action="")
              .quantity-box.col-lg-3.col-xs-5
                span.quantity
                  input.quantity-val(type='text', min='1', value='1', name='quantity')
                  .quantity-up
                    button(type="button") +
                  .quantity-down
                    button(type="button") -
                  .clear-fix
              .clear-fix
              .row.col-lg-9
                .col-sm-6
                  button#add-cart.btn-detail.btn-add(type="submit") Thêm vào giỏ
                .col-sm-6
                  button#buy-cart.btn-detail.btn-buy(type="submit") Mua ngay
        .row
          .col-lg-3
            ul#page-product.nav.nav-tabs
              li.active
                a(href="#mota" aria-controls="mota" data-toggle="tab" role="tab") Mô tả sản phẩm
              li
                a(href="#binhluan" aria-controls="binhluan" data-toggle="tab" role="tab") Bình luận
          .col-lg-9
            .tab-content
              #mota.tab-pane.active(role='tabpanel')
                .container-fluid.product-description-wrapper
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi tempora,
                    | eaque facere aperiam officiis at, iste totam, provident cum fuga
                    | repellendus impedit. Excepturi molestiae a beatae sed necessitatibus. Illum, vitae!
                    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nemo 
                    |eum dolorum debitis sint id ut quidem earum voluptas. Repellat quaerat soluta
                    | eos exercitationem tempora expedita quisquam esse in fugit.
              #binhluan.tab-pane(role='tabpanel')
                .container-fluid
                  .row
                    p Đây là bình luận
        .related
          .related__title
            h3 Sản phẩm liên quan
          hr
          .row.related__products
            -for(i=0 ; i< 4 ; i++)
              .col-md-3.col-sm-6
                +related-products("images/ta_bo-xien-tam.jpg","165,000","Bò xiên tăm","by nhà hàng Phương Nam")