extends _layouts/layout
block content
  section#set-menu.set-menu
    +topbar("Set Menu tại nhà hàng Phương Nam")
    .goodsale-content
      .container
        .row
          .main-content.col-sm-12
            .row
              .col-lg-3.col-sm-12.col-3
                aside.sidebar.listmenu1
                  +listmenu("Thực đơn chọn món","false")
                  .lst-item.lst-item-wrap
                    .listmenu__title
                      h4 Món ngon nổi bật
                    .owl-carousel
                      .lst-item__content
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
                      .lst-item__content
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
                      .lst-item__content
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
                        +item-sidebar2("images/anh1.jpg","#","Bánh Tráng Trảng Bàng Cuốn Chân Giò Luộc","155,000")
              .col-lg-9.col-sm-12.col-9
                .row
                  .col9-content
                    .title
                      h4 Set Menu
                    .toolbar
                      .row
                        .col-lg-12.col-sm-12
                          .toolbar-box.fleft
                            ul.list-inline.fleft
                              li
                                a.large(href="#")
                                  i.fa.fa-th-large(aria-hidden="true")
                              li
                                a.list(href="#")
                                  i.fa.fa-list-ul(aria-hidden="true")
                            .sort-tag.fleft
                              span Sắp xếp theo:
                              select(name="sort")
                                option(value="sp") Sản phẩm nổi bật
                                option(value="up") Giá: Tăng dần
                                option(value="down") Giá: Giảm dần
                                option(value="az") Tên: A - Z
                                option(value="za") Tên: Z - A
                            .clear-fix
                          .clear-fix
                    .menu-content
                      .row
                        .col-sm-4.col-xs-6
                          +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                        .col-sm-4.col-xs-6
                          +product("images/ta_images-zoom4.jpg","Bánh xèo thịt băm" ,"90,000")
                        .col-sm-4.col-xs-6
                          +product("images/ta_images-zoom5.jpg","Bánh xèo thịt băm" ,"90,000")
                        .col-sm-4.col-xs-6
                          +product("images/ta_images-zoom2.jpg","Bánh xèo thịt băm" ,"90,000")
                        .col-sm-4.col-xs-6
                          +product("images/ta_images-zoom3.jpg","Bánh xèo thịt băm" ,"90,000")
                        .col-sm-4.col-xs-6
                          +product("images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000")
                    .menu-content2
                      .row
                        .col-sm-12
                          +list-product("#","images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")
                          +list-product("#","images/ta_images-zoom4.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")
                          +list-product("#","images/ta_images-zoom5.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")
                          +list-product("#","images/ta_images-zoom2.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")
                          +list-product("#","images/ta_images-zoom3.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")
                          +list-product("#","images/ta_product.jpg","Bánh xèo thịt băm" ,"90,000","Là Set Menu dành cho 5 - 6 người. Set Họp Mặt 2 bao gồm 7 món: 1. Bánh tráng cuốn Ba chỉ quay/Bò tơ củ chi;  2. Bò xiên tăm; 3. Cá kèo nướng muối ớt; 4. Cơm...")                                                                                                
                    .Pagination
                      .row
                        .col-lg-2.col-md-2.col-sm-3.col-xs-3
                          a.prev(href="#")
                            span
                              i.fa.fa-angle-left
                              |&nbsp;Trang trước
                        .col-lg-8.col-md-8.col-sm-6.col-xs-6
                          ul.list-inline
                            li
                              a.a-active(href="#") 1
                            li
                              a(href="#") 2
                            li
                              a(href="#") 3
                            li
                              a(href="#") 4
                            li.dots
                              a(href="#") ...
                            li
                              a(href="#") 10
                        .col-lg-2.col-md-2.col-sm-3.col-xs-3.text-right
                          a.next(href="#")
                            span
                              |Trang sau&nbsp;
                              i.fa.fa-angle-right
    .up.up-active
      i.fa.fa-chevron-up(aria-hidden="true")