extends _layouts/layout
block content
  section#goodsale.goodsale
    +topbar("Blog - Ưu đãi")
    .goodsale-content
      .container
        .row
          .main-content.col-sm-12
            .row
              .col-lg-3.col-sm-12.col-3
                aside.sidebar.listmenu1
                  +listmenu("Phương Nam","true")
                  .lst-item.lst-item-wrap
                    .listmenu__title
                      h4 Bài viết mới nhất
                    .lst-item__content
                      +item-sidebar("images/anh1.jpg","#","Mừng khai trương Cơm niêu Hoa Gạo: Tặng Miễn phí 350 niêu cá trắm kho riềng","11/09/2018")
                      +item-sidebar("images/anh1.jpg","#","Thông báo lịch nghỉ lễ Quốc Khánh 2/9/2018","30/08/2018")
                      +item-sidebar("images/anh1.jpg","#","Mừng Quốc Khánh-Tặng Miễn phí 29 Suất cơm cháy kho quẹt","30/08/2018")
                      +item-sidebar("images/anh1.jpg","#","Mùa lễ về: Ưu đãi đặc biệt dành cho khách đoàn Sinh nhật-Liên hoan-Hội họp","31/07/2018")
                      +item-sidebar("images/anh1.jpg","#","Mini Game Thử tài bắt cá-Cùng ăn thả ga - Miễn phí 100%","24/07/2018")
              .col-lg-9.col-sm-12.col-9
                .col9-content
                  .title
                    h4 Ưu đãi
                  .list-news
                    +list-new-item("images/anh1.jpg","#","Mừng khai trương Cơm niêu Hoa Gạo: Tặng Miễn phí 350 niêu cá trắm kho riềng","11-09/2018","Nhà hàng Cơm niêu Hoa Gạo-địa điểm phục vụ các món ăn truyền thống Việt chính thức khai trương vào 10h sáng thứ 3 ngày 11/9/2018 tại số 35 Dịch Vọng Hậu, Cầu Giấy, Hà Nội. Nhân dịp khai trương,...","#","#","#","Ưu đãi")
                    +list-new-item("images/anh1.jpg","#","Mừng khai trương Cơm niêu Hoa Gạo: Tặng Miễn phí 350 niêu cá trắm kho riềng","11-09/2018","Nhà hàng Cơm niêu Hoa Gạo-địa điểm phục vụ các món ăn truyền thống Việt chính thức khai trương vào 10h sáng thứ 3 ngày 11/9/2018 tại số 35 Dịch Vọng Hậu, Cầu Giấy, Hà Nội. Nhân dịp khai trương,...","#","#","#","Ưu đãi")
                    +list-new-item("images/anh1.jpg","#","Mừng khai trương Cơm niêu Hoa Gạo: Tặng Miễn phí 350 niêu cá trắm kho riềng","11-09/2018","Nhà hàng Cơm niêu Hoa Gạo-địa điểm phục vụ các món ăn truyền thống Việt chính thức khai trương vào 10h sáng thứ 3 ngày 11/9/2018 tại số 35 Dịch Vọng Hậu, Cầu Giấy, Hà Nội. Nhân dịp khai trương,...","#","#","#","Ưu đãi")
                    +list-new-item("images/anh1.jpg","#","Mừng khai trương Cơm niêu Hoa Gạo: Tặng Miễn phí 350 niêu cá trắm kho riềng","11-09/2018","Nhà hàng Cơm niêu Hoa Gạo-địa điểm phục vụ các món ăn truyền thống Việt chính thức khai trương vào 10h sáng thứ 3 ngày 11/9/2018 tại số 35 Dịch Vọng Hậu, Cầu Giấy, Hà Nội. Nhân dịp khai trương,...","#","#","#","Ưu đãi")
                  .Pagination
                    .col-lg-2.col-md-2.col-sm-3
                      a.prev(href="#")
                        span
                          i.fa.fa-angle-left
                          |&nbsp;Trang trước
                    .col-lg-8.col-md-8.col-sm-6
                      ul.list-inline
                        li
                          a.a-active(href="#") 1
                        li
                          a(href="#") 2
                        li
                          a(href="#") 3
                        li
                          a(href="#") 4
                        li.dots
                          a(href="#") ...
                        li
                          a(href="#") 10
                    .col-lg-2.col-md-2.col-sm-3.text-right
                      a.next(href="#")
                        span
                          |Trang sau&nbsp;
                          i.fa.fa-angle-right