.list-new-item {
  margin-bottom: 30px;
  .col-box{
   
    img{
      width: 100%;
      border: 1px solid #d9d9d9;
      
    }
    h2{
      font-size: 20px;
      cursor: pointer;
      margin: 0px;
      line-height: 33px;
    }
    small{
      display: inline-block;
      margin-left: 2px;
      color: #909090;
      font-size: 12px;
      font-weight: 500;
      padding: 5px 0px;
    }
    .body-listnews{
      a{
        color:#bf1515;
      }
    }
    .postDetail{
      border-top: 1px solid #e1e1e1;
      padding-top: 6px;
      margin-top: 10px;
        i{
          color:#333;
          margin-right: 5px;
        }
    }
  }
}
