
mixin list-new-item(linkimg,linkTitle,title,date,text,linktext,link1,link2,text2)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +list-new-item()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .list-new-item.list-new-item-wrap
    .row
      .col-sm-5.col-xs-12
        .col-box
          img(src=linkimg, alt="")
      .col-sm-7.col-xs-12
        .col-box
          a(href=linkTitle)
            h2=title
          .body-listnews
            small=date
            p=text
            a(href=linktext)
              i Xem tiếp&nbsp;
                i.fa.fa-angle-double-right(aria-hidden="true")
            .postDetail
              ul.list-inline
                li
                  a(href=link1)
                    i.fa.fa-file-text-o(aria-hidden="true")
                    span=text2
                li
                  a(href=link2) PN Mar


  //.list-new-item-wrap
