footer#footer
  .up.up-active
    i.fa.fa-chevron-up(aria-hidden="true")
  .footer-top
    .container
      .row
        .col-md-3.col-sm-12
          article
            .title
              h3 Thời gian
            .time
              .fleft
                p Sáng
              .fright
                p 11h - 15h
              .clear-fix
            .time
              .fleft
                p Chiều
              .fright
                p 16h30 - 22h
              .clear-fix
        .col-md-3.col-sm-12
          article
            .title
              h3 Thông tin khác
            ul.list-check
              li
                a(href="#") Về chúng tôi
              li
                a(href="#") Hệ thống nhà hàng
              li
                a(href="#") Hướng dẫn mua hàng
              li
                a(href="#") Phương thức thanh toán
              li
                a(href="#") Phương thức vận chuyển 
              li
                a(href="#") Chính sách bảo mật
        .col-md-6.col-sm-12
          article
            .title
              h3 Liện hệ
            ul.list-check
              li
                p
                  i.fas.fa-home
                  span CS1: Số 2, ngõ 69 Chùa Láng
              li
                p
                  i.fas.fa-home
                  span CS2: Số 13 Mai Hắc Đế
              li
                p
                  i.fas.fa-home
                  span CS3: Số 35 Dịch Vọng Hậu
              li
                p
                  i.fas.fa-envelope
                  span Email: info@phuongnam.vn
              li
                p 
                  i.fas.fa-phone
                  span Hotline: 18002028
            ul.list-inline.list-socials
              li.facebook
                a(href="#")
                  i.fab.fa-facebook-f
              li.twitter
                a(href="#")
                  i.fab.fa-twitter
              li.google
                a(href="#")
                  i.fab.fa-google-plus-g
              li.rss
                a(href="#")
                  i.fas.fa-rss
              li.youtube
                a(href="#")
                  i.fab.fa-youtube
        .clear-fix
  .footer-bottom
    .container
      .footer-bottom__left.fleft
        p Copyright &copy; 2018 Công ty TNHH đầu tư thương mại Phương Vy. 
          a(href="#") Powered by Haravan
          |.
      .footer-bottom__right.fright
        ul.list-inline.list-pay
          li
            a(href="#")
              img(src="images/payment-1.png", alt="")
          li
            a(href="#")
              img(src="images/payment-2.png", alt="")
          li
            a(href="#")
              img(src="images/payment-3.png", alt="")
          li
            a(href="#")
              img(src="images/payment-4.png", alt="")
      .clear-fix
  //#footer
#add-cart-popup.modal.fade(role="dialog")
  +add-cart-popup()
#view-product-popup.modal.fade(role="dialog")
  +view-product-popup()
#call-fixed
  a(href="tel:013456789")
    img(src="images/ta_call-us.png", alt="")