header#header
	.header-top
		.container-fluid
			.left.float-left
				.hotline
					.hotline_img
						img(src="images/hotline-icon.png", alt="")
					.hotline_number
						p 18002028
			.right.float-right
				nav.menu-top
					ul.list-inline
						li.connect-fb
							a(href="#")
								img(src="images/facebook-icon.png", alt="")
						li.book-meal
							a(href="#") 
								p Đặt bàn
						li.user
							a(href="#") 
								i.fas.fa-user.float-left 
								p.float-left Tài khoản
								i.fas.fa-angle-down.float-left
								.clear-fix
							ul.user-menu2
								li
									a(href="#") Đăng kí		
								li
									a(href="") Đăng nhập
						li
							a(href="#")
								i.fas.fa-check.float-left
								p.float-left Thanh toán
								.clear-fix
						li.cart
							a(href="#")
								i.fas.fa-shopping-cart.float-left
								p.float-left Giỏ hàng
								.clear-fix
			.clear-fix
	.header-bottom
		.container-fluid
			.logo.float-left 
				.logo-img
					a(href="#")
						img(src="images/logo.png", alt="")
			nav.menu-bottom.float-right
				ul.list-inline
					li
						a(href="#") Trang chủ
					li
						a(href="#") Ưu đãi 
					li
						a(href="#") Giới thiệu
					li
						a(href="#") 
							|Thực dơn chọn món
							i.fas.fa-sort-down
						ul.dropdown-menu2
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Bánh tráng Trảng Bàng
					li
						a(href="#")
							| Sét Menu
							i.fas.fa-sort-down
						ul.dropdown-menu2
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Thức Ăn
							li
								a(href="#") Bánh tráng Trảng Bàng
					li
						a(href="#") Ẩm thực Phương nam
					li.search-form
						form#search(action="")
							input(type="text" placeholder="Tìm kiếm")
							button(type="submit")
					li.cart
						a(href="#" style="background-image: url(images/basket-icon.png);")
						.cart-hover
							.content
								.text-center
									p Giỏ hàng của bạn đang trống
									a(href="#") Tiếp tục mua hàng
							.content-cart.active
								.cart-item.active
									.cart-item_img.float-left
										a(href="#")
											img(src="images/ta_cart_img_item.jpg", alt="")
									.cart-item_text.float-left
										a.name(href="#") Bánh xèo tôm thịt
										p.price
											span#quantity 1 
											| x 
											span#price 75,000 
											span ₫
									.cart-remove
										.cart-remove_item
											i.fas.fa-times
									.clear-fix
								.cart-item.active
									.cart-item_img.float-left
										a(href="#")
											img(src="images/ta_cart_img_item.jpg", alt="")
									.cart-item_text.float-left
										a.name(href="#") Bánh xèo tôm thịt
										p.price
											span#quantity 1 
											| x 
											span#price 75,000 
											span ₫
									.cart-remove
										.cart-remove_item
											i.fas.fa-times
									.clear-fix
								.cart-price
									p 
										span Tổng tiền: 
										span 75,000
											sup ₫
								.cart-act
									a.button.cart-bag(href="#") Giỏ hàng
									a.button.cart-bag(href="#") Thanh Toán
			.clear-fix
	.header-mobie
		.container
			.row
				.logo
					.logo_img.text-center
						a(href="#")
							img(src="images/ta_history-logo.png", alt="")
			.row
				.col-xs-12
					.menu-mobie.fleft
						a(href="#")
							i.fas.fa-bars
					.logo-mobie.text-center
						img(src="images/ta_history-logo.png", alt="")
					.right-mobie.fright
						ul.list-inline
							li.user
								a(href="#")
									i.fas.fa-user
								ul.user-drop
									li
										a(href="#") Đăng kí
									li
										a(href="#") Đăng nhập
									li
										a(href="#") Thanh toán
									li
										a(href="#") Giỏ hàng
							li.search
								a(href="#")
									i.fas.fa-search
								.search-drop
									form#search-mobie(action="")
										input(type="text" placeholder="Tìm kiếm")
										button(type="submit")
							li.cart
								a(href="#")
									i.fas.fa-shopping-cart
								.cart-hover
									.content
										.text-center
											p Giỏ hàng của bạn đang trống
											a(href="#") Tiếp tục mua hàng
									.content.active
										.cart-item.active
											.cart-item_img.float-left
												a(href="#")
													img(src="images/ta_cart_img_item.jpg", alt="")
											.cart-item_text.float-left
												a.name(href="#") Bánh xèo tôm thịt
												p.price
													span#quantity 1 
													| x 
													span#price 75,000 
													span ₫
											.cart-remove
												#cart-remove_item
													i.fas.fa-times
											.clear-fix
										.cart-price
											p 
												span Tổng tiền: 
												span 75,000
													sup ₫
										.cart-act
											a.button.cart-bag(href="#") Giỏ hàng
											a.button.cart-bag(href="#") Thanh Toán
					.clear-fix
.header-fixed.text-center
	.header-fixed__logo
		a(href="#")
			img(src="images/ta_history-logo.png", alt="")
	.bar-menu
	.header-fixed__nav
		nav.menu-left
			ul.menu-left__1
				li
					a(href="#") Trang chủ 
				li.list-drop
					a(href="#") Thực đơn món ăn
					span.drop-button
					ul.menu-left__2
						li
							a(href="#") Set menu
						li
							a(href="#") Cuốn
						li
							a(href="#") Lẩu 
						li
							a(href="#") Nướng 
						li
							a(href="#") Lạ miệng
				li
					a(href="#") Ưu đãi 
				li
					a(href="#") Giới thiệu 
				li
					a(href="#") Liên hệ
//#header
