// Mixins
include ../../components/item-sidebar2/item-sidebar2.pug
include ../../components/listmenu2/listmenu2.pug
include ../../components/list-product/list-product.pug
include ../../components/related-products/related-products.pug
include ../../components/view-product-popup/view-product-popup.pug
include ../../components/add-cart-popup/add-cart-popup.pug
include ../../components/product/product.pug
include ../../components/list-new-item/list-new-item.pug
include ../../components/item-sidebar/item-sidebar.pug
include ../../components/listmenu/listmenu.pug
include ../../components/topbar/topbar.pug
include ../../components/df/df.pug
