.add-cart-popup {
  .modal-body{
    padding: 0;
    button.close{
      z-index: 9;
      width: 32px;
      height: 32px;
      background: none;
      font-size: 28px;
      line-height: 32px;
      color: #333333;
      text-align: center;
      background: #fff;
      position: absolute;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      top: -15px;
      right: -14px;
      opacity: .9;
      &::before{
        content: "\f057";
        display: block;
        font-family: "FontAwesome";
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
  &.modal-dialog{
    width: 940px;
    margin-top: 86px;
  }
  .cart-modal{
    padding: 30px;
    min-height: 318px;
  }
  .modal-title{
    span{
      padding-left: 5px;
    }
    font-size: 17px;
    text-align: left;
    font-weight: 600;
    color: #444444;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .product-info{
    &__img{
      max-width: 178px;
      border: 1px solid #d6d4d4;
      padding: 5px;
      margin-right: 30px;
    }
    &__content{
      .item-name{
        h3{
          font-family: sans-serif;
          display: block;
          padding: 10px 0 10px 0;
          text-transform: uppercase;
          margin: 20px 0 5px;
          width: 100%;
          font-size: 13px;
          color: #bf1515;
        }
      }
      .item-price{
        h4{
          font-family: sans-serif;
          font-size: 16px;
          margin: 0;
        }
      }
      .item-number{
        font-weight: 700;
        span{
          font-weight: 400;
        }
      }
    }
  }
  .cart-layer{
    background-color: #F7F7F7;
    position: relative;
    &__title{
      h2{
        font-size: 17px;
        text-align: left;
        font-weight: 600;
        color: #444444;
        margin-bottom: 22px;
        text-transform: uppercase;
        font-family: sans-serif;
        margin-top: 0;
        span{
          color: #bf1515;
        }
      }
    }
    &__sum{
      line-height: 29px;
      span{
        font-size: 18px;
        font-weight: 600;
        margin: 10px 10px;
        color: #d71e1e;
        font-style: italic;
        padding-left: 5px;
      }
    }
    &__act{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px 20px 30px;
      button{
        font-size: 14px;
        background-color: #bf1515;
        height: 39px;
        color: #fff;
        line-height: 25px;
        border: 0px;
        border-radius: 4px;
        padding: 6px 12px;
        i{
          padding-left: 3px;
        }
      }
    }
  }
}
