
mixin add-cart-popup(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +add-cart-popup()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .add-cart-popup.add-cart-popup-wrap.modal-dialog
    .modal-content
      .modal-body
        button.close(type="button" data-dismiss="modal" aria-label="Close")
        .row
          .col-sm-6
            .cart-modal
              h2.modal-title 
                i.fas.fa-check
                span Sản phẩm đã được thêm vào giỏ
              .product-info
                .product-info__img.fleft
                  img(src="images/ta_product.jpg", alt="")
                .product-info__content
                  .item-name
                    h3 
                      a(href="#") Bánh xèo thịt băm
                  .item-price
                    h4 
                      span 90,000
                      span đ
                  .item-number
                    p số lượng:
                      span 1
          .col-sm-6
            .cart-layer.cart-modal
              .cart-layer__title
                h2 giỏ hàng của bạn hiện có 
                  span 2 
                  | sản phẩm
              .cart-layer__sum
                p Giá đơn hàng: 
                  span 1,230,000 đ
              .cart-layer__act
                ul.list-inline
                  li
                    a(href="#")
                      button Tiếp tục mua hàng
                        i.fa.fa-chevron-right
                  li
                    a(href="#")
                      button Đặt hàng và thanh toán
                        i.fa.fa-chevron-right
  //.add-cart-popup-wrap
