.listmenu2 {
  &__title{
    h4{}
    margin: 0 40px 0px 0;
    line-height: 36px;
    margin-top: 0px;
    padding: 10px 0;
    font-size: 34px;
    color: #444444;
    font-weight: normal;
  }
  .list-menu{
    list-style: none;
    padding-left: 0;
    &__2{
      list-style: none;
      padding-left: 0;
      display: none;
      li{
        &:first-child{
          border-top: none;
        }
        padding-left: 15px;
      }
    }
    li{
      position: relative;
      &:first-child{
        border-top: 1px dashed #c9c9c9;
      }
      border-bottom: 1px dashed #c9c9c9;
    }
    i.arrow-down{
      position: absolute;
      padding: 20px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 7px;
      background-image: url(images/ta_arrow-down.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 11px;
    }
    a{
      position: relative;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      background:none;
      color:#444444;
      &:hover{
        color: #d71e1e;

      }
    }
  }
}
