
mixin listmenu2(title)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +listmenu2()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .listmenu2.listmenu2-wrap
    .listmenu2__title
      h4=title
    .listmenu2__content
      ul.list-menu
        li
          a(href="#") Trang chủ
        li
          a(href="#") Ưu đãi
        li
          a(href="#") Giới thiệu
        li
          a(href="#") Thực đơn chọn món
            i.arrow-down
          ul.list-menu__2
            li
              a(href="#") Đồ nướng
            li
              a(href="#") Đồ uống
            li
              a(href="#") Món nóng
            li
              a(href="#") Các món lẩu
            li
              a(href="#") Món ăn nhẹ
            li
              a(href="#") Món ngon nổi bật
            li
              a(href="#") Cuốn phương Nam
            li
              a(href="#") Bánh Tráng Trảng Bàng
        li
          a(href="#") Set menu
            i.arrow-down
          ul.list-menu__2
            li
              a(href="#") Hẹn hò
            li
              a(href="#") Sum vầy
            li
              a(href="#") Họp mặt
        li
          a(href="#") Ẩm thực Phương Nam
  //.listmenu2-wrap
