.related-products {
  display: inline-block;
  &__price{
    p{
      margin: 0;
    }
  }
  &__name{
    h3{
      outline: none;
      color: #bf1515;
      font-size: 24px;
      margin: 0;
    }
  }
}
