
mixin related-products(img, price, name , made)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +related-products()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .related-products.related-products-wrap
    a(href="#")
      .related-products__img
        img(src=img, alt="")
      .related-products__price
        p=price
          span 
            sup
              u đ
      .related-products__name
        h3=name
      .related-products__made
        p=made
    //.related-products-wrap